<script type="text/javascript">


	function renderdelete(data, type, row, meta){
		if(type === 'display'){
			data = '<a class="btn btn-danger btn-sm" onclick="deletecustomer(\''+row.id+'\')">' + 'Delete' + '</a>';
		}
		return data;
	}

	async function deletecustomer(id){
		
		let formData = new FormData();
		formData.append('id', id);
		formData.append('action', 'delete');

		const api_url = "{{api_url}}";

		const response = await fetch(api_url+"/ignorecustomer",{
			method: 'POST',
			body: formData,
			headers: {
			"accept": "application/json",
			"Access-Control-Allow-Origin":"*",
			"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"}
		});

		submitPostLink('ignorecustomer');
	}


	async function addcustomer(id){
		
		let formData = new FormData();
		formData.append('email', document.getElementById('addcustomer_input').value);
		formData.append('action', 'post');

		const api_url = "{{api_url}}";

		const response = await fetch(api_url+"/ignorecustomer",{
			method: 'POST',
			body: formData,
			headers: {
			"accept": "application/json",
			"Access-Control-Allow-Origin":"*",
			"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"}
		});

		submitPostLink('ignorecustomer');
	}

    $(document).ready( function () {
        var ignorecustomerTable = $('#ignorecustomerTable').DataTable({
            "processing": true,
            "order": [[ 0, "asc" ]],
            "data": {{{fetcheddata}}},
			"scrollX": true,
			"colReorder": true,
			"select": true,
			"dom": 'QBlftip',
			"buttons": [
							{
								extend: 'copy',
								exportOptions: { orthogonal: 'export' }
							},
							{
								extend: 'csv',
								exportOptions: { orthogonal: 'export' }
							},
							{
								extend: 'pdf',
								exportOptions: { orthogonal: 'export' },
								orientation: 'landscape',
								pageSize: 'LEGAL'
							},
							{
								extend: 'print',
								exportOptions: { orthogonal: 'export' },
								orientation: 'landscape',
								pageSize: 'LEGAL'
							}
        				],
            "columns": [
                { "data": "id" },
                { "data": "email" },
				{ "data": null, "render": renderdelete}
            ]
        });
    });
</script>

    <div class="panel panel-default">
		<div class="panel-body">

			<div class="row">						
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
                            <form class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" class="form-control" id="addcustomer_input" placeholder="Customer">
                            </div>
                            <button type="button" class="btn btn-success mb-2" onclick="addcustomer();">Add Customer</button>
                            </form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>{{tablename}}</h2>
				<div class="panel-ctrls">
				</div>
			</div>
			<div class="panel-body panel-no-padding">
				<table id="ignorecustomerTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
                            <th>id</th>
							<th>email</th>
							<th>delete customer</th>
						</tr>
					</thead>
				</table>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>